
[submodule "articles/note"]
  path = articles/note
  url = https://github.com/tseijp/note
  branch = main
  ignore = all
[submodule "articles/zenn"]
	path = articles/zenn
	url = https://github.com/tseijp/zenn
	branch = main
  ignore = all
[submodule "packages/mdmd"]
  path = packages/mdmd
  url = https://github.com/tseijp/mdmd
  branch = main
  ignore = all
[submodule "packages/parsed-path"]
  path = packages/parsed-path
  url = https://github.com/tseijp/parsed-path
  branch = main
  ignore = all
[submodule "packages/react-mol"]
  path = packages/react-mol
  url = https://github.com/tseijp/react-mol
  branch = main
  ignore = all
[submodule "packages/use-book"]
  path = packages/use-book
  url = https://github.com/tseijp/use-book
  branch = main
  ignore = all
[submodule "packages/use-grid"]
  path = packages/use-grid
  url = https://github.com/tseijp/use-grid
  branch = main
  ignore = all
[submodule "packages/use-midi"]
  path = packages/use-midi
  url = https://github.com/tseijp/use-midi
  branch = main
  ignore = all
[submodule "examples/alrt"]
  path = examples/alrt
  url = https://github.com/tseijp/alrt
  branch = main
  ignore = all
[submodule "examples/home"]
  path = examples/home
  url = https://github.com/tseijp/home
  branch = main
  ignore = all
[submodule "examples/mech"]
  path = examples/mech
  url = https://github.com/tseijp/mech
  branch = main
  ignore = all
[submodule "examples/rben"]
  path = examples/rben
  url = https://github.com/tseijp/rben
  branch = main
  ignore = all
[submodule "examples/sudo"]
  path = examples/sudo
  url = https://github.com/tseijp/sudo
  branch = main
  ignore = all
[submodule "examples/qala"]
	path = examples/qala
	url = https://github.com/tseijp/qala
  branch = main
  ignore = all
[submodule "examples/lapa"]
	path = examples/lapa
	url = https://github.com/tseijp/lapa
  branch = main
  ignore = all
[submodule "packages/glre"]
	path = packages/glre
	url = https://github.com/tseijp/glre
  branch = main
  ignore = all
[submodule "packages/glrb"]
	path = packages/glrb
	url = https://github.com/tseijp/glrb
  branch = main
  ignore = all
[submodule "examples/plre"]
	path = examples/plre
	url = https://github.com/tseijp/plre
  branch = main
  ignore = all
[submodule "packages/reev"]
	path = packages/reev
	url = https://github.com/tseijp/reev
  branch = main
  ignore = all
[submodule "packages/refr"]
	path = packages/refr
	url = https://github.com/tseijp/refr
  branch = main
  ignore = all
[submodule "packages/reii"]
	path = packages/reii
	url = https://github.com/tseijp/reii
  branch = main
  ignore = all
